.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 120px 1fr 230px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 10px;
  gap: 10px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1px;
  grid-row-start: 1;
  align-items: center;
  text-align: center;
  line-height: 50px;
  font-family: var(--font-geist-mono);
  font-size: 48px;
  text-shadow: 2px 2px black;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0;
  grid-row-start: 2;
  align-items: center;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 10px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 20px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: light) {
  .header {
    filter: invert();
  }
}

.currentQuestion {
  margin-bottom: 5px;
  height: 100px;
  background: #00a9bb;
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  font-family: var(--font-geist-mono);
  font-size: 48px;
  color: white;
  pointer-events: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.wonQuestion {
  margin-bottom: 5px;
  height: 100px;
  background: #00167c;
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  font-family: var(--font-geist-mono);
  font-size: 48px;
  color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.chaser {
  margin-bottom: 5px;
  height: 100px;
  background: #b4211a;
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  font-family: var(--font-geist-mono);
  font-size: 48px;
  color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.startingBid {
  margin-bottom: 5px;
  height: 100px;
  background: #00a9bb;
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  font-family: var(--font-geist-mono);
  font-size: 48px;
  text-shadow: 2px 2px black;
  color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(245, 245, 245, 0.5);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

@media (prefers-color-scheme: light) {
  .startingBid {
    margin-bottom: 5px;
    height: 100px;
    background: #00a9bb;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-family: var(--font-geist-mono);
    font-size: 48px;
    text-shadow: 2px 2px black;
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    animation: pulse-animation 2s infinite;
  }
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }
}

.inputBar {
  margin-bottom: 5px;
  height: 100px;
  background: #00a9bb;
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  font-family: var(--font-geist-mono);
  font-size: 48px;
  text-shadow: 2px 2px black;
  color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.inputBar:focus {
  background-color: #00167c;
}

.button {
  align-items: center;
  background-color: #0158a7;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-geist-mono);
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button:hover,
.button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}